@model IEnumerable<ShopGeocoder.Models.ApiKey>

@{
    ViewData["Title"] = "Список API ключей";
}

    <div class="col-8 offset-2">
        <h1>API ключи</h1>
        <p>
            <a asp-action="Create" class="btn btn-lg btn-primary">Добавить новый</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Key)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Default)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Default)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Guid">Изменить</a>
                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Guid">Карточка</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Guid">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>